@theme {
  --color-primary-700: #dba514;
  --color-primary-600: #c69320;
  --color-primary-500: #72512e;
  --color-primary-300: #dacbc1;
  --color-primary-200: #ede4e1;
  --color-primary-100: #f6eee5;
  --color-primary-50: #fbf7f4;
}
